html, body, #app, #app>div {
  margin: 0;
  height:100%;
  width:100%;
}
body{
  background: url("./back.jpg") center center no-repeat;
  background-size: cover;   
  display: flex; 
  align-items: center; 
  justify-content: center;
}
#root{
  min-width: 400px;
  width: calc(100% - 400px);
  max-width: 600px;	
  
  min-height:250px;
  height: calc(100% - 250px);
  max-height:500px;	
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
